.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px; 
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f6ebf3;
}

.heading {
  font-size: 1.5rem; 
  color:black;
  margin-bottom: 15px;
}

.formContainer {
  width: 100%;
  margin-bottom: 20px;
}

.searchBox {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.contactList {
  width: 100%;
  max-width: 600px; 
}


@media (min-width: 600px) {
  .container {
    padding: 20px;
    max-width: 959px;
  }

  .heading {
    font-size: 2rem; 
    margin-bottom: 20px;
  }

  .formContainer {
    margin-bottom: 25px;
  }

  .searchBox {
    max-width: 450px;
  }

  .contactList {
    max-width: 700px;
  }
}


@media (min-width: 960px) {
  .container {
  
    justify-content: space-between; 
    max-width: 1200px;
    padding: 30px; 
  }

  .heading {
    font-size: 2.5rem; 
    margin-bottom: 25px;
  }

  .formContainer {
    width: 50%; 
    margin-bottom: 0; 
  }

  .searchBox {
    max-width: 500px;
  }

  .contactList {
    max-width: 800px;
  }
}